<html lang="en">

<head>
  <meta charset="utf-8" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>{{ name }}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-">
    <a class="navbar-brand">Welcome {{ name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/userPage">Home <span class="sr-only">(current)</span></a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/maker">Calories</a>
        </li> --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button data-toggle="modal" data-target="#changePassword">Change Password</button>
          </div>
        </li>
      </ul>
      <div class="navlink"><a href="/logout">Log out</a></div>
    </div>
  </nav>


  <div class='container-fluid' id='maker'>

    <h2> Add Food Here </h2>

    <div class='row'>
      <div class='col text-center'>
        <div class="alert alert-danger" id="errorMessage" role="alert" style='display:none;'>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col'>
        <section id="makeCalories">

          <form id="caloriesForm" name="caloriesForm" action="/maker" method="POST" class="caloriesForm">

            <label for="title">Food: </label>
            <input id="foodTitle" type="text" name="title" placeholder="Food Title" />

            <label for="cal">Calories: </label>
            <input id="foodCalories" type="text" name="cal" placeholder="Food Calories" />

            <label for="date">Date: </label>
            <input id="date" type="date" name="date" placeholder="Date" />

            <input type="hidden" name="_csrf" value={{csrfToken}} />

            <input class="makeCaloriesSubmit btn btn-outline-dark" id='makeCaloriesSubmit' type="submit"
              value="Add Food" />
          </form>
        </section>
      </div>
    </div>
  </div>

  <section id="foods">
    <div class="food">
      {{#if foods}}
      {{#each foods}}
      <h3 class="foodTitle:">Food: {{this.title}}</h3>
      <h3 class="foodCalories">Calories: {{this.cal}}</h3>
      <h3 class='date'>Date: {{this.date}}</h3>
    </div>
    {{/each}}
    {{else}}
    <h3 class="emptyCalories text-center">No Foods yet</h3>
    {{/if}}
  </section>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="changePassword" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <!-- form -->
          <form id='changePasswordForm' name='changePasswordForm' action='/changePassword' method='POST'
            class='changePasswordForm'>

            <div class="alert alert-success" id="successMessage" roles="alert" style='display:none'>
            </div>

            <div class='row justify-content-center'>
              <div class='form-group .col-md-3'>
                <input class='field' id='currentPassword' type='password' name='currentPassword'
                  placeholder='Current Password' />
              </div>
            </div>

            <div class='row justify-content-center'>
              <div class='form-group .col-md-3'>
                <input class='field' id='newPass' type='password' name='newPass' placeholder='New Password' />
              </div>
            </div>

            <div class='row justify-content-center'>
              <div class='form-group .col-md-3'>
                <input class='field' id='newPass2' type='password' name='newPass2' placeholder='Retype Password' />
              </div>
            </div>

            <div class='row justify-content-center'>
              <div class='col-md-3'>
                <input id="changepasswordcsrf" type="hidden" name="_csrf" value={{csrfToken}} />
                <button class='btn btn-outline-dark' id='changePasswordButton' type='submit'>Save Changes</button>
              </div>
            </div>

            <div class='row'>
              <div class='col text-center'>
                <div class="alert alert-danger" id="errorMessage" role="alert" style='display:none;'>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      <script src="/assets/bundle.js"></script>
</body>


</html>